input[type="search"] {
    padding: 1.5em;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
}

input[type="list"] {
    padding: 1.5em;
    border: 1px wave rgb(119, 119, 119);
    border-radius: 4px;
    width: 100%;
    font-size: 1em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 1em;
    text-align: center;
    border-bottom: 4px solid #ff3d39;
}

h1, h2 {
    margin: 0.5em 0;
}

section {
    padding: 1em;
    margin: 1em auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(198, 196, 196, 0.978);
}